<<<<<<< HEAD
﻿﻿ @using Microsoft.AspNetCore.Identity
=======
﻿ @using Microsoft.AspNetCore.Identity
>>>>>>> origin/third_block
 @using System.Security.Claims



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Web.styles.css" asp-append-version="true" />
</head>
<style>
    body {
        background-color: #782223;
        /* background-color: #CFAE7D; */
    }
</style>
<body>
    <header>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="form-logout">
<<<<<<< HEAD
                <form asp-area="" asp-controller="Login" asp-action="Logout">
                    <button class="button-logout" type="submit">Вийти</button>
                </form>
=======
                    <form asp-area="" asp-controller="Login" asp-action="Logout">
                    <button class="button-logout" type="submit">Вийти</button>
                    </form>
>>>>>>> origin/third_block
            </div>
            <div class="button-recomendations">
                <a class="button-recomendations" asp-area="" asp-controller="Recomendations" asp-action="GetRecomendations" asp-route-id="@User.FindFirstValue(ClaimTypes.NameIdentifier)">Рекомендації</a>
            </div>
            <div class="button-profile">
                <a class="button-profile" asp-area="" asp-controller="Profile" asp-action="ShowProfile" asp-route-id="@User.FindFirstValue(ClaimTypes.NameIdentifier)">Профіль</a>
            </div>
        }
        else
        {
            <div class="button-login"><a class="button-login" asp-area="" asp-controller="Login" asp-action="Login">Увійти</a></div>
        }

        @if (!User.Identity.IsAuthenticated && Context.Request.Query["id"].Count == 0)
        {
            <div class="button-login">
                <a class="button-login" asp-area="" asp-controller="Login" asp-action="Login">Увійти</a>
            </div>
        }
        else if (!User.Identity.IsAuthenticated && Context.Request.Query["id"].Count > 0)
        {
            <div class="button-login">
                <form asp-area="" asp-controller="Login" asp-action="Login">
                    <input type="text" name="username" placeholder="Enter your username" />
                    <input type="password" name="password" placeholder="Enter your password" />
                    <button type="submit">Login</button>
                </form>
            </div>
        }

        <div class="button-info"><button class="info">Інформація</button></div>

        <div class="name">Tassle on the Palm</div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="foo">
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html> 