/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
body {
    background-color: #782223;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}


/*


.back {
    position: absolute;
    width: 90vw;
    height: 70vh;
    background: #CFAE7D;
    border-radius: 10vw;
    overflow: hidden;
    left: 5vw;
    right: 5vw;
    top: 15vh;
}

.tag-search,
.button-profile {
    position: absolute;
    font-family: 'Kyiv*Type Titling';
    font-style: normal;
    font-weight: 350;
    font-size: 3vw;
    line-height: 4vw;
    color: #FEF9C6;
    cursor: pointer;
    border: none;
    background-color: transparent;
    text-align: center;
    box-shadow: 0px 1vw 1vw rgba(0, 0, 0, 0.25);
    border-radius: 3vw;
    width: 15vw;
    height: 3vw;
}

.button-profile {
    left: 83vw;
    top: 3vh;
}

.tag-search {
    left: 65vw;
    top: 3vh;
}

    .tag-search text,
    .button-profile button {
        border: none;
        background: none;
        cursor: pointer;
        padding: 0;
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        font-style: inherit;
        line-height: inherit;
        color: inherit;
    }

.line-1 {
    position: absolute;
    width: 30vw;
    right: 0vw;
    top: 95vh;
    border: 0.25vw solid #CFAE7D;
    transform: rotate(-0.36deg);
}

.company {
    position: absolute;
    width: 15vw;
    height: 10vh;
    right: 5vw;
    top: 85vh;
    font-family: 'Metal';
    font-style: normal;
    font-size: 3vw;
    line-height: 10vh;
    color: #FEF9C6;
}

.name {
    position: absolute;
    width: 90vw;
    font-family: 'Lobster';
    font-style: normal;
    font-size: 3.5vw;
    line-height: 5vh;
    color: #CFAE7D;
    top: 3vh;
}*/
