<<<<<<< HEAD
﻿@model Web.Models.LogViewModel
=======
﻿ @model Web.Models.LogViewModel
>>>>>>> origin/third_block

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="~/Web.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="form-container-left">
        <h2>Увійти</h2>
        <form method="post" action="/Login/Login">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="Email" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="Password" required>
            </div>
            <div class="form-group">
                <input type="checkbox" id="rememberMe" name="RememberMe" value="true">
                <label for="rememberMe">Remember me</label>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <div>
            <a asp-controller="Register" asp-action="Register">Не маєте аккаунту?</a>
        </div>
    </div>
</body>
<<<<<<< HEAD
</html>
=======
</html>
>>>>>>> origin/third_block
